__pycache__/
*.py[cod]
.idea
.venv
.DS_Store
.ipynb_checkpoints
.pytest_cache
*.egg-info/
build/
dist/
dist-gui/
astrodenoisepy/dist/
astrodenoisepy/dist-gui/
docs/build/
data/**
example_data
htmlcov/
.coverage*
*.npz
*.tif*
*.zip
*.tfevents.*
